<!DOCTYPE html>
<html>
  <head>
    <title>GradesApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% %i[alert notice].each do |type| %>
      <div class="alert-default flash_<%= type %>"><%= flash[type] %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
